* {
	padding: 0;
	margin: 0;
}

body {
    background-color: black
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: rgb(105,67,0);
    text-align: left;
}

header {
	background-color: #black;
	padding: 20px;
}

#slogan {
	font-family: Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 24px;
	color: medium gray;
    text-align: left;
}

img {
	width: 100%;
}

h1, p {
    color: gold;
}

h2 {
	color: black;
}

h1 {
	font-size: 48px;
	font-family: Arial, sans-serif;
}

p {
	font-size: 10pt;
	font-style: italic;
}