@import url(https://fonts.googleapis.com/css?family=Pragati+Narrow:400,700);

* {
	padding: 0;
	margin: 0;
}

body {
    background-color: black
    font: Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: rgb(105,67,0);
    text-align: left;
}

header {
	background-color: black;
	padding: 20px;
}

#slogan {
	font-family: Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 24px;
	color: medium gray;
    text-align: left;
}

img {
	width: 100%;
}

h1 {
	font-family: "Pragat+Narrow;"
	font-size: 48px;
	font-family: Arial, sans-serif;
	color: gold;
}

h2 {
	font-size: 24px;
	color: gray;
}

p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: gray;
}
