@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #bdbdbd;
    text-align: left;
}

header {
	padding: 20px;
}

#slogan {
	font-style: <!--This would typically have the word italic or similar; otherwise this line doesn't need to be-->;
	font-size: 24px;
}

img {
	width: 100%;
}

h1 {
	font-family: "Oswald", sans-serif;
	font-size: 48px;
	color: gold;
}

h2 {
	font-size: 24px;
}

p {
}
